header,nav
{
 
 background-color:white;
 border-width:14 px;
 border-color:black;
 border-spacing:15px 30 px;
 border-style:solid;
 
}
caption
{ 
  font-color: white;
  font-size:20px;
}
table
{
  font-family:Arial,sans-sherif;
  font-size:16px;
  margin: 0 auto;
}
td, th
{
  border:3px solid black;
}
th
{
  background-color:orangered;
  color:white;
}
body { background-color: dodgerblue }
td{ 
 background-color:sandybrown
}